<!DOCTYPE html>
<html lang="en">
    <title>Python Flask ML model prediction from image</title>
    <h2>Select a file for prediction</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}">
        </div>
    {% endif %}
    {% if prediction %}
        <div>
            <h2>Prediction:</h2>
            <ul>
            {% for pred in prediction %}
               <li> Label: {{pred.label}} , Probability: {{pred.probability}}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</html>